@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #000000;

    --card: #FFFFFF;
    --card-foreground: hsl(240 10% 3.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);

    --primary: #1E77ED;
	--primary-dark: #1E6AD8;
	--primary-darker: #185DC1;
	--primary-light: #CDE0FB;
	--primary-lighter: #E0EDFF;
    --primary-foreground: #CFCFCF;
	--primary-muted: #2E6EFF;
	--primary-stroke: #84A8FF;

    --secondary: #FCC100;
	--secondary-light: #FFF9E5;
    --secondary-foreground: #CFCFCF;

    --muted: #929292;
	--muted-light: #8F8F8F;
	--muted-dark: #2C2C2C;
    --muted-foreground: #ABABAB;

    --accent: #65B448;
    --accent-foreground: #CFCFCF;

    --destructive: #DD5144;
    --destructive-light: #F88282;
    --destructive-dark: #F74747;
    --destructive-foreground: hsl(0 0% 98%);

    --border: #D8D8D8;
    --input: #EEEEEE;
    --ring: hsl(0, 0%, 49%); 
    --radius: 1.5rem;
  } 

  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* React Day Picker Styles */
.rdp {
  --rdp-cell-size: 2.25rem;
  --rdp-accent-color: var(--primary);
  --rdp-background-color: var(--primary-light);
}
