@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: hsl(240 10% 3.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);

    --primary: #1e77ed;
    --primary-dark: #1e6ad8;
    --primary-darker: #185dc1;
    --primary-light: #cde0fb;
    --primary-lighter: #e0edff;
    --primary-foreground: #cfcfcf;
    --primary-muted: #2e6eff;
    --primary-stroke: #84a8ff;

    --secondary: #fcc100;
    --secondary-light: #fff9e5;
    --secondary-foreground: #cfcfcf;

    --muted: #929292;
    --muted-light: #8f8f8f;
    --muted-dark: #2c2c2c;
    --muted-foreground: #ababab;

    --accent: #65b448;
    --accent-foreground: #cfcfcf;

    --destructive: #dd5144;
    --destructive-light: #f88282;
    --destructive-dark: #f74747;
    --destructive-foreground: hsl(0 0% 98%);

    --border: #d8d8d8;
    --input: #eeeeee;
    --ring: hsl(0, 0%, 49%);

    --radius-5: 0.3125rem; /* 5px */
    --radius-8: 0.5rem; /* 8px */
    --radius-10: 0.625rem; /* 10px */
    --radius-12: 0.75rem; /* 12px */
    --radius-20: 1.25rem; /* 20px */
    --radius-24: 1.5rem; /* 24px */

    --text-11px: 0.6875rem; /* 11px */
    --text-12px: 0.75rem; /* 12px */
    --text-13px: 0.8125rem; /* 13px */
    --text-14px: 0.875rem; /* 14px */
    --text-15px: 0.9375rem; /* 15px */
    --text-16px: 1rem; /* 16px */
    --text-17px: 1.0625rem; /* 17px */
    --text-21px: 1.3125rem; /* 21px */

    --lh-11px: 1.5rem; /* 24px */
    --lh-12px: 1.625rem; /* 26px */
    --lh-13px: 1.375rem; /* 22px */
    --lh-14px: 1.0625rem; /* 17px */
    --lh-15px: 2.0625rem; /* 33px */
    --lh-16px: 1.625rem; /* 26px */
    --lh-17px: 2.3125rem; /* 37px */
    --lh-21px: 1.5625rem; /* 25px */

    --container-width: 390px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 4px white;
    border-radius: 6px;
  }
}

.container {
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

/* React Day Picker Styles */
.rdp {
  --rdp-cell-size: 2.25rem;
  --rdp-accent-color: var(--primary);
  --rdp-background-color: var(--primary-light);
}
